*.iml
.idea/
.idea/scopes/scope_settings.xml
.idea/workspace.xml
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
*.swp
*.swo
*.pyc
*.pyo
build
node_modules
_site
sea-modules
.cache

Gemfile.lock
bower_components
node_modules
build