---
layout: default
title: handong1587
---

<div id="home">
    <h1>Deep Learning</h1>
  <ul class="posts">
      {% for post in site.categories.['deep_learning']%}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

    <h1>Machine Learning</h1>
  <ul class="posts">
      {% for post in site.categories.['machine_learning']%}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Computer Vision</h1>
<ul class="posts">
    {% for post in site.categories.['computer_vision']%}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h1>Robots</h1>
<ul class="posts">
  {% for post in site.categories.['robots']%}
  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

  <h1>Big Data</h1>
<ul class="posts">
  {% for post in site.categories.['big_data']%}
  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h1>Data Mining</h1>
<ul class="posts">
{% for post in site.categories.['data_mining']%}
<li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h1>CUDA Programming</h1>
<ul class="posts">
  {% for post in site.categories.['cuda_programming']%}
  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

    <h1>Algorithm and Data Structure</h1>
  <ul class="posts">
      {% for post in site.categories.['algorithm_and_data_structure']%}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

    <h1>Programming Study</h1>
  <ul class="posts">
      {% for post in site.categories.['programming_study']%}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

    <h1>Linux Study</h1>
  <ul class="posts">
      {% for post in site.categories.['linux_study']%}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Media</h1>
  <ul class="posts">
    {% for post in site.categories.['media']%}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>

  <h1>Reading and Thoughts</h1>
  <ul class="posts">
      {% for post in site.categories.['reading_and_thoughts']%}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Leisure</h1>
  <ul class="posts">
      {% for post in site.categories.['leisure']%}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a target="_blank" a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <!--
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  -->
</div>
