---
layout: default
title: Links
comment: true
keywords: Java blog,Links
---

<div class="article">
    <h3 class="title">{{ page.title }}</h3>
    <div class="links">
        {% for i in site.customLinks %}
        <h4 class="links-category fn-clear">{{ i.message }}</h4>
        <ul class="links-list fn-clear">
                {% for link in i.item %}
                <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
                {% endfor %}
        </ul>
        {% endfor %}
    </div>
    <div class="comment">
        {% if site.disqus.config %}
        <div id="disqus_thread"></div>
        {% else %}
            {% if site.duoshuo.config %}
            <div class="ds-thread" data-thread-key="{{ page.title }}"></div>
            {% endif %}
        {% endif %}
    </div>
</div>