---
layout: default
comment: true
keywords: Java blog,Post
---
<div class="article article-post">
    <h2 class="title">{{ page.title }}</h2>
    <div class="info">
        <span class="info-title"><i class="icon-calendar"></i> Published: </span>
        <span class="info-date">{{ page.date | date_to_string }}</span>
        <span class="info-title"><i class="icon-folder-open"></i> Category: </span>
        <span class="info-link"><a href="{{ site.url }}/categories.html#{{ page.category }}-ref" >{{ page.category }}</a></span>
    </div>
    {{ content }}
    <div class="bdsharebuttonbox">
        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
        <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
        <a href="#" class="bds_mail" data-cmd="mail" title="分享到邮件分享"></a>
        <a href="#" class="bds_more" data-cmd="more"></a>
    </div>
    <nav class="article-previous fn-clear">
        {% if page.previous %}
        <a class="prev" href="{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
        {% endif %}
        {% if page.next %}
        <a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
        {% endif %}
    </nav>
    <div class="comment">
        {% if site.disqus.config %}
        <div id="disqus_thread"></div>
        {% else %}
            {% if site.duoshuo.config %}
            <div class="ds-thread" data-thread-key="{{ page.title }}"></div>
            {% endif %}
        {% endif %}
    </div>
</div>
